<ion-header style="height: 18%;margin-top:61px;">
  <ion-navbar style="height: 100%;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="http://n22.mikex.ru/uploads/images/{{user.avatar}}" class="avatar" style="width:80px;height:80px;" />
        </ion-col>
        <ion-col col-9 style="padding-left:10px;">
          <h3 style="text-align:left;font-weight:600;margin-top: 36px;font-size: 24px;color:#fff;margin-bottom:0;">{{user.name}} {{user.surname}}</h3>
          <h4 style="text-align:left;text-transform:uppercase;color:#DCDCDC;font-size: 14px;margin-top: 0;">Судья</h4>
          <h4 style="text-align:left;text-transform:uppercase;color:rgb(255, 255, 255);font-size: 16px;margin-top: 0;">Рейтинг: 100</h4>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-navbar>
</ion-header>

<ion-content padding style="margin-top:70px;">
  <h6 style="text-align:center;">"{{ tType }}" <ion-icon name="arrow-dropright"></ion-icon> {{ weight }} КГ</h6>
  <p *ngIf="stagesNulled" style="margin-top:80px;text-align:center;padding:16px;color: #797979;">Таблица пуста</p>
  <ion-grid style="width:100%;">

    <ion-row style="width:100%;margin-top:10px;margin-bottom:10px;text-align:center;">
        <h6 style="width:100%;text-align:center;color: #4e4e4e;font-size:20px;">1/8</h6>
    </ion-row>
    <ion-row *ngFor="let stage of stages" style="width:100%;">
          <ion-col col-12>
            <div style="margin-top:20px;border-radius:2px;" (click)="selectFight(stage)" [ngStyle]="{'background': selectedFight == stage ? '' : '' }">
              <div style="color:#fff;background:green;padding:6px 12px;border-radius:2px;" [ngStyle]="{'background': stage.status == '1' ? '#828282' : 'green'}"><b>{{ stage.user1.id }} {{ stage.user1.surname }} {{ stage.user1.name }}</b></div>
              <div style="color:#fff;background:green;padding:6px 12px;border-radius:2px;margin-top:8px;" [ngStyle]="{'background': stage.status == '1' ? '#828282' : 'green'}"><b>{{ stage.user2.id }} {{ stage.user2.surname }} {{ stage.user1.name }}</b></div>
            </div>
          </ion-col>
    </ion-row>

  </ion-grid>

  <!--<button ion-button color="danger" style="width: 40%;margin: 20px 30%;" (click)="goJudge()">Начать судить</button>-->

</ion-content>
